<!-- Main Application Header -->
<header class="bg-primary text-white text-center p-2 mb-4 shadow-sm">
  <nav class="navbar navbar-dark">
    <div class="container-fluid justify-content-center">
      <span class="navbar-brand mb-0 h1 fs-2">Car Systems 1.0</span>
    </div>
  </nav>
</header>

<!-- Main content area -->
<main class="container">
  <app-car-form 
    [carToEdit]="carToEdit"
    (carAdded)="onCarSaved($event)">
  </app-car-form>
  <app-car-list 
    [cars]="cars" 
    (carDeleted)="onCarDeleted($event)"
    (carEdit)="onCarEdit($event)">
  </app-car-list>
</main>